body {
  margin: 0;
  font-family: "Arial";
}

.section1{
  display: flex;
  flex-direction: column;
  background: #1F2937;
}

.header {
  display: flex;
  align-items: center;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: 500px;
}

.header-links a {
  text-decoration: none;
  color: #F9FAF8;
  filter: contrast(50%);
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-left: 400px;
  font-weight: 700;
}

.hero {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left{
  margin-left: 400px;
  flex: 0 1 420px;
}

.hero-left button {
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  color: #E5E7EB;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-left p {
  font-size: 18px;
  color: #E5E7EB;
  filter: contrast(50%);
}
.hero-right {
  display: flex;
}
.hero-right img {
  width: 500px;
  height: 280px;
  border-radius: 30px;
  margin-right: 500px;
  
}








